body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container{
  min-height: 100vh;
}
main{
  flex: 1;
}
.btn-primary{
  background-color: lightpink;
  color: black;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating span{
  color: pink;
}

.product{
  margin: 1rem;
  padding: 10px;
  float: left;
  border: 1px pink solid;
}

.product img{
  max-width: 300px;
  padding: 10px;
  float: left;
}

.product-info{
  padding: 1rem;
}
.img-large{
  max-width: 100%;
}