body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container{
  min-height: 100vh;
}
main{
  flex: 1;
}
.card-title {
  color: black;
}
.btn-primary{
  background-color: rgb(232, 24, 59);
  color: rgb(252, 249, 249);
}


.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating span{
  color: rgb(232, 24, 59);
}

.product{
  margin: 1rem;
  padding: 10px;
  float: left;
  border: 1px rgb(0, 0, 0) solid;
}

.product img{
  max-width: 300px;
  padding: 10px;
  float: left;
}

.product-info{
  padding: 1rem;
}
.img-large{
  max-width: 100%;
}
.img-thumbnail{
  height:80px;
}

button:disabled{
  cursor: default;
}
.small-container{
  max-width: 700px;
}